<html>
<head>
    <title>$i18n.getText("ru.zherikhov.vladislav.title")</title>
    $webResourceManager.requireResource("ru.zherikhov.vladislav:notificationsForTasks")
    <meta name="decorator" content="atl.admin" />
    <meta name="admin.active.section" content="admin_plugins_menu/nft-section/nft-web-item"/>
</head>
<body>

    #foreach ($key in $errors.keySet())
    <p style="color:red"> Error value $key $errors.get($key)</p>

    #end
<form class="aui" method="POST" action="NFTWebWorkAction!save.jspa">
    <div class="field-group">
        <label for="comment-email">$i18n.getText("ru.zherikhov.vladislav.field.email")
            <span class="aui-icon icon-required">(required)</span></label>
        <input class="text medium-field" type="text"
               id="comment-email" name="comment-email" placeholder="you@example.com" value="$!{email}">
        <div class="description">Your
            primary email address.
        </div>
    </div>
    <div class="field-group">
        <label for="comment-input">$i18n.getText("ru.zherikhov.vladislav.field.comment")</label>
        <textarea class="textarea" name="comment-input"
                  id="comment-input" placeholder="Your comment here..."></textarea>
    </div>
    <div class="buttons-container">
        <div class="buttons">
            <input class="button submit" type="submit"
                   id="comment-save-button" value=$i18n.getText("ru.zherikhov.vladislav.button.save")>
            <input class="button submit" type="submit" value=Clear id="comment-clear-button"
                   formaction="NFTWebWorkAction!clear.jspa">
        </div>
    </div>
</form>
</body>
</html>